@charset "utf-8";
/* CSS Document */
* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}
body {
	font-family:Verdana, Geneva, sans-serif;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
img{
	border:none;
    height: 100%;
    width: 100%;
}
/***********************************/
@font-face {
    font-family: 'AudiBold';
    src: url('../fonts/crm_30.Par.0092.File.eot');
    src: url('../fonts/crm_30.Par.0092.File.eot?#iefix') format('embedded-opentype'),
		url('../fonts/crm_30.Par.0095.File.woff') format('woff'),
		url('../fonts/crm_30.Par.0094.File.ttf') format('truetype'),
		url('../fonts/crm_30.Par.0093.File.svg#AudiTypeBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AudiExtendedBold';
    src: url('../fonts/crm_30.Par.0091.File.eot');
    src: url('../fonts/crm_30.Par.0091.File.eot?#iefix') format('embedded-opentype'),
		url('../fonts/crm_30.Par.0090.File.woff') format('woff'),
		url('../fonts/crm_30.Par.0089.File.ttf') format('truetype'),
		url('../fonts/crm_30.Par.0088.File.svg#AudiTypeExtendedBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AudiExtendedNormal';
    src: url('../fonts/crm_30.Par.0096.File.eot');
    src: url('../fonts/crm_30.Par.0096.File.eot?#iefix') format('embedded-opentype'),
		url('../fonts/crm_30.Par.0099.File.woff') format('woff'),
		url('../fonts/crm_30.Par.0098.File.ttf') format('truetype'),
		url('../fonts/crm_30.Par.0097.File.svg#AudiTypeExtendedNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AudiNormal';
    src: url('../fonts/crm_31.Par.0013.File.eot');
    src: url('../fonts/crm_31.Par.0013.File.eot?#iefix') format('embedded-opentype'),
		url('../fonts/crm_31.Par.0016.File.woff') format('woff'),
		url('../fonts/crm_31.Par.0015.File.ttf') format('truetype'),
		url('../fonts/crm_31.Par.0014.File.svg#AudiTypeNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}
/***********************************/
#app_contenedor{
	margin:0 auto;
	width:100%; 
}
#app_info{
}
/************ synchro *************/
#synchro{
	background-color:#e21838;
	color:#FFF;
	font-size:0.8em;   
}
#synchro_info{
	margin:0 auto;
	width:100%;
}
#synchro_info_txt{
	padding:0px 10px 3px 10px;
}
/************ header *************/
#header{
	margin:0 auto;
	width:79%; 
}
#header_logo{
}
#header_logo img{
	float:right;
}
#header_1_img, #header_2_img{
	position:absolute;
}
#header_logo img{
	float:right;
}
#header_1_titulo, #header_2_titulo, #header_3_titulo{
	color:#000000;
	font-family: 'AudiExtendedBold';
	font-size:3em;
	text-align:right;
}
#header_1_titulo, #header_2_titulo{
	font-size:4em;
	line-height:1em;
	position:relative;
	z-index:1;
}
#header_3_titulo{
	font-size:5.5em;
	line-height:70px;
}
/************ contenido *************/
#contenido{
	color:#8a8e94;
	margin:0 auto;
	width:79%; 
}
#contenido_info{
	padding:35% 0px 0px 0px;
}
#contenido_infoSurvey{
	padding:20% 0px 0px 0px;
}
#contenido_info_txt{
	font-size:0.9em;
	padding:0px 0px 20px 0px;
}
#contenido_login{
	padding:10% 0px 0px 0px;
	margin:0 auto;
}
/************ avisos/alertas *************/
.aviso{
	font-size:0.9em;
}
.aviso_confirma{
	font-size:0.9em;
	margin:0 auto;
	width:93%;
}
.aviso_titulo{
	background-color:#d7d7d7;
	color:#000000;
	font-family: 'AudiExtendedBold';
	font-size:1.8em;
	padding:12px 10px 5px 15px;
}
.aviso_contenido{
	border:1px solid #d7d7d7;
	margin:5px 0px 5px 0px;
	padding:0px 0px 15px 0px;
}
.aviso_contenido_info{
	padding:20px;
}
/************ formularios *************/
input{
	/* color:#8a8e94;*/
	padding:10px 5px 0px 2px;
	vertical-align:text-bottom;
	width:100%;
}
select{
	padding:10px 5px 0px 2px;
	vertical-align:text-bottom;
	width:115%;
}
textarea{
	/*color:#8a8e94;*/
	font-size:1.6em;
	padding:5px;
	width:99.5%;
}
.aviso_formulario li, .survey_formulario li, .survey_formulario_check li, .survey_formulario_logged li, .survey_currentVehicle_list li{
	list-style:none;
	padding:3px 20px 3px 5px;
}
.survey_contenido_info{
	border:1px solid #dddddd;
	margin:0px 0px 5px 0px;
}
.survey_formulario, .survey_formulario_check, .survey_formulario_logged{
	padding:5px 22px 3px 22px;
}
.survey_formulario li{
	padding:3px 7px;
	width:97%;
}
.survey_formulario_check li{
	display:inline-block;
}
.survey_formulario_logged li{
	border:1px solid #dddddd;
	color:#000;
	margin:0px 0px 5px 0px;
	padding:10px 10px 5px 5px;
}
.survey_currentVehicle_list, .survey_currentVehicle_logged_list{
	width:102.5%;
}
.survey_currentVehicle_list li, .survey_currentVehicle_logged_list li{
	display:inline-block;
	padding:3px 0px;
	width:32.75%;
}
.survey_currentVehicle_list div, .survey_currentVehicle_logged_list div{
	display:inline-block;
	width:70%;
}
.survey_currentVehicle_camp{
	padding:0px 10px 0px 0px;
}
.survey_currentVehicle_logged_list li{
	border:none;
	color:#8a8e94;
}
.survey_currentVehicle_logged_list div{
	background-color:#f5f5f5;
	color:#000;
	padding:10px 5px 2px 5px;
}
.check input{
	width:auto;
}
.check2{
	width:65.3%;
	padding:0px !important;
}
.check2 input{
	width:85.5%;
}
.form_titulo{
	background-color:#dddddd;
	width:100%;
}
.form_titulo_info{
	color:#000;
	font-size:1.4em;
	font-weight:bold;
	padding:10px 0px 3px 10px;
}
.form_pregunta_info{
	color:#000;
	font-size:1em;
	padding:10px 0px 3px 10px;
}
.survey_ico{
	color:#e21838;
	font-size:1.2em;
}
/************ botones *************/
#contenido_login_menu{
	margin:0 auto;
}
#contenido_login_menu_btn{
	padding:10px;
}
.btn_home{
	background-color:#25292c;
	border:1px solid #FFF;
	float:left;
	font-size:1.6em;
	margin:10px;
	padding:25px 5px 5px 5px;
	width:44.5%;
}
.btn_home_salir{
	background-color:#e21838;
	clear:both;
	font-size:1.6em;
	margin:0 auto;
	margin-bottom:20px;
	margin-top:50px;
	text-align:center;
	width:93%;
}
.btn_home_info{
	/* color:#97999a;*/
	font-family: 'AudiExtendedBold';
	padding:15px 0px 2px 5px;
}
.btn_home_salir .btn_home_info{
	color:#FFFFFF;
}
.btn_home_ico{
	margin:0 auto;
	text-align:center;
}
.btn_normal{
	background-color:#25292c;
	font-size:0.9em;
	margin:0 auto;
	text-align:center;
	width:30%;
}
.btn_normal_info{
    background-color: #25292c;
    color: #fff;
	padding:12px;   
}
.btn_normal2{
	background-color:#25292c;
	font-size:0.9em;
	margin:0 auto;
	text-align:center;
}
.btn_normal2_info{
	font-size:1.4em;
	margin:0 auto;
	padding:10px 0px 5px 0px;
	text-align:center;
	vertical-align:middle;
}
.btn_normal2_info_txt{
	display:inline-block;
	padding:22px 0px 0px 0px;
	vertical-align:top;
}
.btn_normal2_ico{
	display:inline-block;
	padding:0px 0px 0px 10px;
}
/************ clearing *************/
.clearing{
	clear:both;
}
/************ links *************/
a{
	color:#FFF;
	text-decoration:none;
}