@charset "utf-8";
/* CSS Document */
* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
/*    -webkit-user-select: none; */                 /* prevent copy paste, to allow, change 'none' to 'text' */
}
body {
	font-family:Verdana, Geneva, sans-serif;
	width: 100%;
	height: 100%;
	/*margin: 0;
	padding: 0;*/
}
img{
	border:none;
    /*height: 100%;
    width: 100%;*/
}
h1{
	margin: 0;
}
/***********************************/
@font-face {
    font-family: 'AudiBold';
    src: url('../fonts/crm_30.Par.0092.File.eot');
    src: url('../fonts/crm_30.Par.0092.File.eot?#iefix') format('embedded-opentype'),
		url('../fonts/crm_30.Par.0095.File.woff') format('woff'),
		url('../fonts/crm_30.Par.0094.File.ttf') format('truetype'),
		url('../fonts/crm_30.Par.0093.File.svg#AudiTypeBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AudiExtendedBold';
    src: url('../fonts/crm_30.Par.0091.File.eot');
    src: url('../fonts/crm_30.Par.0091.File.eot?#iefix') format('embedded-opentype'),
		url('../fonts/crm_30.Par.0090.File.woff') format('woff'),
		url('../fonts/crm_30.Par.0089.File.ttf') format('truetype'),
		url('../fonts/crm_30.Par.0088.File.svg#AudiTypeExtendedBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AudiExtendedNormal';
    src: url('../fonts/crm_30.Par.0096.File.eot');
    src: url('../fonts/crm_30.Par.0096.File.eot?#iefix') format('embedded-opentype'),
		url('../fonts/crm_30.Par.0099.File.woff') format('woff'),
		url('../fonts/crm_30.Par.0098.File.ttf') format('truetype'),
		url('../fonts/crm_30.Par.0097.File.svg#AudiTypeExtendedNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AudiNormal';
    src: url('../fonts/crm_31.Par.0013.File.eot');
    src: url('../fonts/crm_31.Par.0013.File.eot?#iefix') format('embedded-opentype'),
		url('../fonts/crm_31.Par.0016.File.woff') format('woff'),
		url('../fonts/crm_31.Par.0015.File.ttf') format('truetype'),
		url('../fonts/crm_31.Par.0014.File.svg#AudiTypeNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}
/***********************************/
.app_contenedor{
	/*margin:0 auto;
	width:100%;*/ 
}
.app_info{
}
/************ synchro *************/
.synchro{
	background-color:#e21838;
	color:#FFF;
	font-size:0.8em;   
}
.synchro_updated{
	background-color:#3ea40c;
	color:#FFF;
	font-size:0.8em;   
}
.synchro_info{
	/*margin:0 auto;
	width:100%;*/
}
.synchro_info_txt{
	padding:5px 10px 3px 10px;
}
/************ header *************/
.header{
	margin:0 auto;
	width:85%;
}
.header_all{
	background: url(../img/header_2_bkg.jpg) no-repeat scroll 0 55px transparent;
	height: 271px;
	margin:0 auto;
	width:85%;
}
.header_login{
	background: url(../img/header_1_bkg.jpg) no-repeat scroll 0 0 transparent;
	height: 437px;
	margin:0 auto;
	width:85%;
}
.header_logo{
	text-align: right;
}
.header_logo img{
	/*float:right;*/
}
.header_1_img, .header_2_img{
	position:absolute;
}
.header_1_titulo, .header_2_titulo, .header_3_titulo{
	color:#000000;
	font-family: 'AudiExtendedBold';
	font-size:3em;
	text-align:right;
}
.header_1_titulo, .header_2_titulo{
	font-size:4em;
	line-height:1em;
	position:relative;
	z-index:1;
}
.header_3_titulo{
	font-size:5.5em;
	line-height:70px;
}
/************ contenido *************/
.contenido{
	color:#8a8e94;
	margin:0 auto;
	width:85%;
}
.contenido_info{
	padding:3% 0px 0px 0px;
}
.contenido_infoSurvey{
	/*padding:20% 0px 0px 0px;*/
}
.contenido_info_txt{
	font-size:0.9em;
	/*padding:0px 0px 20px 0px;*/
}
.contenido_login{
	/*margin:0 auto;*/	
    padding:20% 0px 0px 0px;
    text-align:center;
}
/************ avisos/alertas *************/
.aviso{
	/*font-size:0.9em;*/
}
.aviso_confirma{
	font-size:0.9em;
   text-align:center;
	/*margin:0 auto;
	width:93%;*/
}
.aviso_titulo{
	background-color:#d7d7d7;
	color:#000000;
	font-family: 'AudiExtendedBold';
	font-size:1.8em;
	padding:12px 10px 5px 15px;
   margin:5px;
}
.aviso_contenido{
   border:1px solid #d7d7d7;
   margin:5px;
   text-align:center;
	/*margin:5px 0px 5px 0px;*/
	padding:0px 0px 15px 0px;
}
.aviso_contenido_info{
   padding:20px;
   text-align:left;
}
.aviso_contenido_info p{
   font-size:1.2em;
}
/************ formularios *************/
input{
	/* color:#8a8e94;*/
	/*padding:10px 5px 0px 2px;*/
	vertical-align:text-bottom;
	/*width:100%;*/
}
select{
	/*padding:10px 5px 0px 2px;*/
	vertical-align:text-bottom;
	/*width:115%;*/
}
textarea{
	/*color:#8a8e94;*/
	font-size:1.6em;
	/*padding:5px;
	width:99.5%;*/
}
.aviso_formulario li, .survey_formulario li, .survey_formulario_check li, .survey_formulario_logged li, .survey_currentVehicle_list li{
	list-style:none;
	/*padding:3px 20px 3px 5px;*/
}
.survey_contenido_info{
	border:1px solid #dddddd;
	/*margin:0px 0px 5px 0px;*/
}
.survey_formulario, .survey_formulario_check, .survey_formulario_logged{
	/*padding:5px 22px 3px 22px;*/
}
.survey_formulario li{
	/*padding:3px 7px;
	width:97%;*/
}
.survey_formulario_check li{
	display:inline-block;
}
.survey_formulario_logged li{
	border:1px solid #dddddd;
	color:#000;
	/*margin:0px 0px 5px 0px;
	padding:10px 10px 5px 5px;*/
}
.survey_currentVehicle_list, .survey_currentVehicle_logged_list{
	/*width:102.5%;*/
}
.survey_currentVehicle_list li, .survey_currentVehicle_logged_list li{
	display:inline-block;
	/*padding:3px 0px;
	width:32.75%;*/
}
.survey_currentVehicle_list div, .survey_currentVehicle_logged_list div{
	display:inline-block;
	/*width:70%;*/
}
.survey_currentVehicle_camp{
	/*padding:0px 10px 0px 0px;*/
}
.survey_currentVehicle_logged_list li{
	border:none;
	color:#8a8e94;
}
.survey_currentVehicle_logged_list div{
	background-color:#f5f5f5;
	color:#000;
	/*padding:10px 5px 2px 5px;*/
}
.check input{
	/*width:auto;*/
}
.check2{
	/*width:65.3%;
	padding:0px !important;*/
}
.check2 input{
	/*width:85.5%;*/
}
.form_titulo{
	background-color:#dddddd;
	/*width:100%;*/
}
.form_titulo_info{
	color:#000;
	font-size:1.4em;
	font-weight:bold;
	/*padding:10px 0px 3px 10px;*/
}
.form_pregunta_info{
	color:#000;
	font-size:1em;
	/*padding:10px 0px 3px 10px;*/
}
.survey_ico{
	color:#e21838;
	font-size:1.2em;
}
/************ botones *************/
.contenido_login_menu{
	/*margin:0 auto;*/
}
.contenido_login_menu_btn{
	/*padding:10px;*/
   margin:0px 0px 5px;
}
.btn_home{
	background-color:#25292c;
	border:1px solid #FFF;
	/*float:left;*/
	font-size:1.6em;
	margin:5px;
	padding:10% 2% 2%;
   display:block;
	/*width:44.5%;*/
}

.btn_home a{
	/*display: block;*/
}
.btn_home_salir{
	background-color:#e21838;
	clear:both;
	font-size:1.6em;
	margin:0 auto;
	/*margin-bottom:20px;
	margin-top:50px;*/
	text-align:center;
	/*width:93%;*/
}
.btn_home_info{
	/*color:#97999a;*/
	font-family: 'AudiExtendedBold';
	padding:15px 0px 2px 5px;
   text-align:left;
}
.btn_home_salir .btn_home_info{
	color:#FFFFFF;
}
.btn_home_ico{
	/*margin:0 auto;*/
	text-align:center;
}
.btn_home_ico img{
   height:60px;
   min-width:60px;
}
.btn_normal{
	/*background-color:#25292c;
   color:#FFFFFF;
	font-size:2em;*/
	/*margin:0 auto;
	text-align:center;
	width:30%;*/
   padding:0px 25%;
}
.btn_normal .ui-btn{
   height:30px;
}
.btn_normal{
	/*background-color:#25292c;
   color:#FFFFFF;
	font-size:2em;*/
	/*margin:0 auto;
	text-align:center;
	width:30%;*/
   padding:0px 25%;
}.btn_normal_info{
    background-color: #25292c;
    color: #FFFFFF;
	/*padding:12px;  */ 
}
.btn_normal2{
	background-color:#25292c;
	font-size:0.9em;
	/*margin:0 auto;*/
	text-align:center;
}
.btn_normal2_info{
	font-size:1.4em;
	/*margin:0 auto;
	padding:10px 0px 5px 0px;*/
	text-align:center;
	vertical-align:middle;
}
.btn_normal2_info_txt{
	display:inline-block;
	/*padding:22px 0px 0px 0px;*/
	vertical-align:top;
}
.btn_normal2_ico{
	display:inline-block;
	/*padding:0px 0px 0px 10px;*/
}
.btn_normal .ui-grid-solo{
   color:#FFF;
   width:50%;
   margin:0 auto;
   padding:35% 0px 0px;
}
/************ error list *************/
#messageErrorLead, #messageErrorSurvey{
   border:1px solid #d7d7d7;
   background-color:#f4f4f4;
   margin:5px;
   padding:5px;
}
#messageErrorLead li, #messageErrorSurvey li{
   list-style:none;
   padding:0 10px;
}
/************ clearing *************/
.clearing{
	clear:both;
}
/************ links *************/
a{
	color:#FFF;
	text-decoration:none;
}
/************ listas *************/
#list-data-lead{
   padding:10px;
   border: 1px solid #d7d7d7;
   margin:10px 0px;
}
/*
jQuery Mobile

*/
.ui-page-theme-a a:visited, 
html .ui-bar-a a:visited, 
html .ui-body-a a:visited, 
html body .ui-group-theme-a a:visited{
	color: #fff;
}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{
	text-shadow: none;
}
/* Active button */
.ui-page-theme-a .ui-btn.ui-btn-active,
html .ui-bar-a .ui-btn.ui-btn-active,
html .ui-body-a .ui-btn.ui-btn-active,
html body .ui-group-theme-a .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-a.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-a .ui-checkbox-on:after,
html .ui-bar-a .ui-checkbox-on:after,
html .ui-body-a .ui-checkbox-on:after,
html body .ui-group-theme-a .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-a:after,
/* Active flipswitch background */
.ui-page-theme-a .ui-flipswitch-active,
html .ui-bar-a .ui-flipswitch-active,
html .ui-body-a .ui-flipswitch-active,
html body .ui-group-theme-a .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-a .ui-slider-track .ui-btn-active,
html .ui-bar-a .ui-slider-track .ui-btn-active,
html .ui-body-a .ui-slider-track .ui-btn-active,
html body .ui-group-theme-a .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-a .ui-btn-active {
	background-color: 		#e21838 /*{a-active-background-color}*/;
	border-color:	 		#e21838 /*{a-active-border}*/;
	color: 					#fff /*{a-active-color}*/;
	text-shadow: 0 /*{a-active-shadow-x}*/ 1px /*{a-active-shadow-y}*/ 0 /*{a-active-shadow-radius}*/ #005599 /*{a-active-shadow-color}*/;
}

.aviso_contenido button{
   /*width:50%;
   height:40px;
   color:#FFF;
   margin:5px 0px 10px;
   background-color:#25292c;
   border: none;
   font-size:1.3em;*/
}
.aviso_contenido .btn_accept{
   width:50%;
   height:40px;
   color:#FFF;
   margin:5px 0px 10px;
   background-color:#25292c;
   border: none;
   font-size:1.3em;
   font-family:Verdana, Geneva, sans-serif;
  /* margin:0 auto;*/
   padding:10px;
}
.contenido_login #btn_logout{
   width:98%;
   height:50px;
   color:#FFF;
   margin:5px 0px 10px;
   background-color:#e21838;
   border: none;
   font-size:1.4em;
   font-family: 'AudiExtendedBold';
   margin:0 auto;
   padding:10px;
}
.ui-filterable{
   margin-bottom:3.5%;
}
/* Active radio button icon */
.ui-page-theme-a .ui-radio-on:after,
html .ui-bar-a .ui-radio-on:after,
html .ui-body-a .ui-radio-on:after,
html body .ui-group-theme-a .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-a:after {
	border-color:			#e21838 /*{a-active-background-color}*/;
}
/* Focus */
.ui-page-theme-a .ui-btn:focus,
html .ui-bar-a .ui-btn:focus,
html .ui-body-a .ui-btn:focus,
html body .ui-group-theme-a .ui-btn:focus,
html head + body .ui-btn.ui-btn-a:focus,
/* Focus buttons and text inputs with div wrap */
.ui-page-theme-a .ui-focus,
html .ui-bar-a .ui-focus,
html .ui-body-a .ui-focus,
html body .ui-group-theme-a .ui-focus,
html head + body .ui-btn-a.ui-focus,
html head + body .ui-body-a.ui-focus {
	-webkit-box-shadow: 0 0 12px 	#e21838 /*{a-active-background-color}*/;
	-moz-box-shadow: 0 0 12px 		#e21838 /*{a-active-background-color}*/;
	box-shadow: 0 0 12px 			#e21838 /*{a-active-background-color}*/;
}
/* Page and overlay */
.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper {
	background-color: 			#FFFFFF /*{a-page-background-color}*/;
	border-color:	 		#bbb /*{a-page-border}*/;
	color: 					#333 /*{a-page-color}*/;
	text-shadow: 0;
}
/* Form inputs */
.ui-input-text input,
.ui-input-search input,
textarea.ui-input-text {
	padding: .4em;
	/*line-height: 1.4em;
   line-height: 1em;*/
	display: block;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
   font-size:1.4em;
}
.ui-input-text input,
.ui-input-search input {
	margin: 0;
	/*min-height: 1em;*/
	text-align: left; /* Opera aligns type="date" right by default */
	border: 0;
	background: transparent none;
	-webkit-appearance: none;
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
.ui-input-search input {
   padding-left: 30px;
}
.ui-input-search:after {
	position: absolute;
	left: .3125em;
	top: 50%;
	margin-top: -7px;
	content: "";
	background-position: center center;
	background-repeat: no-repeat;
	width:14px;
	height: 14px;
	filter: Alpha(Opacity=50);
	opacity: .5;
   background-size:100%;
}
.ui-input-search.ui-input-has-clear .ui-btn.ui-input-clear,
.ui-input-text.ui-input-has-clear .ui-btn.ui-input-clear {
	position: absolute;
	right: 0;
	top: 50%;
	margin: -26px -.3125em 0;
	border: 0;
	background-color: transparent;
}
.ui-mini .ui-input-text input,
.ui-mini .ui-input-search input,
.ui-input-text.ui-mini input,
.ui-input-search.ui-mini input,
.ui-mini textarea.ui-input-text,
textarea.ui-mini {
	font-size: 18px;
}
/* JQUERY VALIDATE */
label.error {
	color: red;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.4;
	margin-top: 0.5em;
	width: 100%;
	float: none;
}
.ui-select .ui-btn {
	/*margin: 0;*/
	opacity: 1; /* Fixes #2588: When Windows Phone 7.5 (Mango) tries to calculate a numeric opacity for a select (including "inherit") without explicitly specifying an opacity on the parent to give it context, a bug appears where clicking elsewhere on the page after opening the select will open the select again. */
}
/* Hide the native input element */
.ui-input-btn input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	border: 0;
	outline: 0;
	-webkit-border-radius: inherit;
	border-radius: inherit;	
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
	background: #25292c;
	background: rgba(37,41,44,1);
	filter: Alpha(Opacity=0);
	opacity: 1;
	/*font-size: 1px;
	text-indent: -9999px;*/
    font-size: 1.1em;
    color:#FFF;
    text-indent: 0px;
	z-index: 2;
}
/* Buttons and icons */
.ui-btn {
	font-size: 16px;
	margin: .5em 0;
	padding: .9em 1em;
	display: block;
	position: relative;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	/*cursor: pointer;*/
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* Button up */
.boton_general .ui-btn{
   background-color:#25292c;
   color:#FFFFFF;
   font-size:1.4em;
}
.boton_general .ui-btn:active{
   background-color:#25292c;
   text-shadow: 0 /*{a-bhover-shadow-x}*/ 0px /*{a-bhover-shadow-y}*/ 0 /*{a-bhover-shadow-radius}*/ 0 /*{a-bhover-shadow-color}*/;
}
.boton_general .ui-btn img{
   vertical-align:bottom;
   width:7%;
}
/* Button hover */
.aviso_contenido_info .ui-btn:hover{
	background-color: 			#e21838 /*{a-bhover-background-color}*/;
	color: 					#FFFFFF  /*{a-bhover-color}*/;
   text-shadow: 0 /*{a-bhover-shadow-x}*/ 0px /*{a-bhover-shadow-y}*/ 0 /*{a-bhover-shadow-radius}*/ 0 /*{a-bhover-shadow-color}*/;
}
.boton_general .ui-btn:hover{
	background-color: 			#25292c /*{a-bhover-background-color}*/;
	color: 					#FFFFFF  /*{a-bhover-color}*/;
   text-shadow: 0 /*{a-bhover-shadow-x}*/ 0px /*{a-bhover-shadow-y}*/ 0 /*{a-bhover-shadow-radius}*/ 0 /*{a-bhover-shadow-color}*/;
}
.aviso_contenido .btn_accept:hover{
	background-color: 			#25292c /*{a-bhover-background-color}*/;
	color: 					#FFFFFF  /*{a-bhover-color}*/;
   text-shadow: 0 /*{a-bhover-shadow-x}*/ 0px /*{a-bhover-shadow-y}*/ 0 /*{a-bhover-shadow-radius}*/ 0 /*{a-bhover-shadow-color}*/;
}
.aviso_contenido_info .ui-btn:active{
	background-color: 			#e21838 /*{a-bdown-background-color}*/;
   color: 					#FFFFFF  /*{a-bhover-color}*/;
  text-shadow: 0 /*{a-bhover-shadow-x}*/ 0px /*{a-bhover-shadow-y}*/ 0 /*{a-bhover-shadow-radius}*/ 0 /*{a-bhover-shadow-color}*/;
}
.contenido login .ui-btn {
   background-color:#06C;
}
/* Links */
.ui-page-theme-a a,
html .ui-bar-a a,
html .ui-body-a a,
html body .ui-group-theme-a a {
	color: #97999a /*{a-link-color}*/;
	/*font-weight: bold;*/
}
.ui-page-theme-a a:visited,
html .ui-bar-a a:visited,
html .ui-body-a a:visited,
html body .ui-group-theme-a a:visited {
    color: #97999a /*{a-link-visited}*/;
}
.ui-page-theme-a a:hover,
html .ui-bar-a a:hover,
html .ui-body-a a:hover,
html body .ui-group-theme-a a:hover {
	color: #97999a /*{a-link-hover}*/;
}
.ui-page-theme-a a:active,
html .ui-bar-a a:active,
html .ui-body-a a:active,
html body .ui-group-theme-a a:active {
	color: #97999a /*{a-link-active}*/;
}
/* content configurations. */
#list-data-lead .ui-grid-a,
#list-data-lead .ui-grid-b,
#list-data-lead .ui-grid-c,
#list-data-lead .ui-grid-d,
#list-data-lead .ui-grid-solo {
	overflow: hidden;
   padding:5px 25px;
   font-size:1.2em;   
}
/* Button up */
.ui-page-theme-a .ui-btn,
html .ui-bar-a .ui-btn,
html .ui-body-a .ui-btn,
html body .ui-group-theme-a .ui-btn,
html head + body .ui-btn.ui-btn-a,
/* Button visited */
.ui-page-theme-a .ui-btn:visited,
html .ui-bar-a .ui-btn:visited,
html .ui-body-a .ui-btn:visited,
html body .ui-group-theme-a .ui-btn:visited,
html head + body .ui-btn.ui-btn-a:visited {
	text-shadow: 0 /*{a-bup-shadow-x}*/ 0px /*{a-bup-shadow-y}*/ 0 /*{a-bup-shadow-radius}*/  /*{a-bup-shadow-color}*/;
   margin:0 auto;
}
/* Button hover */
.ui-page-theme-a .ui-btn:hover,
html .ui-bar-a .ui-btn:hover,
html .ui-body-a .ui-btn:hover,
html body .ui-group-theme-a .ui-btn:hover,
html head + body .ui-btn.ui-btn-a:hover {
	text-shadow: 0 /*{a-bhover-shadow-x}*/ 0px /*{a-bhover-shadow-y}*/ 0 /*{a-bhover-shadow-radius}*/  /*{a-bhover-shadow-color}*/;
}
/* No margin in grids for 100% width button elements until we can use max-width: fill-available; */
[class*="ui-block-"] > button.ui-btn {
	margin-right: 0;
	margin-left: 0;
   margin:0 auto;
}
/* titulos popups */
.ui-header .ui-title,
.ui-footer .ui-title {
	font-size: 2em;
	min-height: 1.1em;
	text-align: left;
	display: block;
	margin: 0 2%;
	padding: 0.2em 0 0.2em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	outline: 0 !important;
   font-family: 'AudiExtendedBold';
}
#dialogLead a.ui-btn.ui-icon-delete,
#dialogCheckIn a.ui-btn.ui-icon-delete{
 display: none;
}
#dialogLead a,
#dialogCheckIn a{
   background-color:#25292c;
   color:#FFF;
   width:50%;
}
#dialogCheckIn .ui-block-b a{
   background-color:#e21838;
   color:#FFF;
   width:50%;
}
#dialogLead p,
#dialogCheckIn p{
   padding:10px;
   font-size:1.2em;
}
.ui-dialog {
	 background:#dddddd !important; /* this is to ensure that dialog theming does not apply (by default at least) on the page div */
}
.ui-dialog-contain {
	width: 92.5%;
	max-width: 500px;
	margin: 10% auto 1em auto;
	padding: 0;
	position: relative;
	top: 15em;
}
.ui-listview > li {
	display: block;
	position: relative;
	overflow: visible;
   border-left:1px solid #dddddd;
   border-right:1px solid #dddddd;
   width:95%;
   margin:0 auto;
}
html .ui-filterable + .ui-listview,
html .ui-filterable.ui-listview {
	margin-top: -1em;
   margin-bottom: .5em;
}
@media screen and (orientation: portrait) {
	label.error {
		margin-left: 0;
		display: block;
	}
}
@media screen and (orientation: landscape) {
	label.error {
		display: inline-block;
		margin-left: 0;
	}
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1300px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (                min-resolution: 192dpi) and (min-width: 1300px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1300px) { 

  /* Large screen, retina, stuff to override above media query */
.contenido_login{	
    padding:40% 0px 0px 0px;
}
.synchro{
	font-size:1.2em;   
}
.header_1_img img, .header_2_img img{
   min-width:1200px;
   height:auto;
}
.header_3_titulo{
	font-size:10.5em;
	line-height:140px;
}
.header_logo img{
   /*min-width:1200px;
   height:auto;*/
}
.btn_home{
   font-size:3em;
   padding:20% 4% 4%;
	/*width:44.5%;*/
}
.btn_home_ico img{
   height:120px;
   min-width:120px;
}
.aviso_titulo{
	font-size:2.8em;
}
.btn_normal .ui-btn{
   height:80px;
}
.boton_general .ui-btn{
   font-size:3em;
}
.boton_general .ui-btn img{
   width:9%;
}
/* Buttons and icons */
.ui-btn {
	font-size: 32px;
}
.aviso_contenido_info p{
   font-size:2.4em;
}
.aviso_contenido .btn_accept{
   height:80px;
   font-size:2.6em;
}
.contenido_login #btn_logout{
   height:100px;
   font-size:2.8em;
   width:100%;
}
/* Form inputs */
.ui-input-text input,
.ui-input-search input,
textarea.ui-input-text {
   font-size:2.8em;
}
/* Hide the native input element */
.ui-input-btn input {
    font-size: 1.7gitem;
}
/* Form labels (overrides font-weight bold in bars, and mini font-size) */
.ui-mobile label,
div.ui-controlgroup-label {
	font-weight: normal;
	font-size: 32px;
}
/* content configurations. */
#list-data-lead .ui-grid-a,
#list-data-lead .ui-grid-b,
#list-data-lead .ui-grid-c,
#list-data-lead .ui-grid-d,
#list-data-lead .ui-grid-solo {
   font-size:2.8em;   
}
.ui-input-search:after {
   left:.6em;
	width: 36px;
	height: 36px;
   top:35%;
}
.ui-input-search input{
   padding-left:60px;
   text-indent:50;
}
.ui-btn-icon-left:after,
.ui-btn-icon-right:after,
.ui-btn-icon-top:after,
.ui-btn-icon-bottom:after,
.ui-btn-icon-notext:after {
	width: 40px;
	height: 40px;
}
.ui-btn-icon-notext:after,
.ui-btn-icon-left:after,
.ui-btn-icon-right:after {
	top: 50%;
	margin-top: -25px;
}
.ui-input-search .ui-btn-icon-notext:after,
.ui-input-search .ui-btn-icon-left:after,
.ui-input-search .ui-btn-icon-right:after {
   top: 25%;
 }
.ui-dialog-contain {
	width: 100%;
	max-width: 1000px;
}
#dialogLead p, #dialogCheckIn p{
   font-size:2.4em;
}
.ui-header .ui-title,
.ui-footer .ui-title {
	font-size: 4em;
}
.ui-dialog-contain {
	top: 30em;
}
}

@media
only screen and (min-width: 800px){ 
.header_1_titulo, .header_2_titulo{
   font-size:2.2em;
}

}

em {
	color: red;
	font-weight: bold;
	padding-right: .25em;
}

.asterisk:after{
	content: " *";
	color: #e21838;
}

.fifty{
	float: left;
	width: 100%;
}
